/* @property --num {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
  } */
  .counter {
    font: 800 40px system-ui;
    padding: 2rem;
  }
  

  /* .counter2 {
    animation: counter2 5s forwards;
    counter-reset: num var(--num);
    font: 800 40px system-ui;
    padding: 2rem;
  }
  .counter2::after {
    content: "€ " counter(num);
  }
  @keyframes counter2 {
    from {
      --num: 0;
    }
    to {
      --num: 2608;
    }
  }

  .counter3 {
    animation: counter3 5s forwards;
    counter-reset: num var(--num);
    font: 800 40px system-ui;
    padding: 2rem;
  }
  .counter3::after {
    content: "+ " counter(num);
  }
  @keyframes counter3 {
    from {
      --num: 0;
    }
    to {
      --num: 1300;
    }
  } */